version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: pg_oee
    restart: unless-stopped
    environment:
      POSTGRES_DB: produccion_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_oee
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - postgres

volumes:
  pgdata:
  grafana-data:
